body {
    width: 100%;
    padding: 0;
    margin: 0;
}

/*== Grid Styles ==*/
.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "navigation dashboard dashboard"
        "navigation alert alert"
        "navigation traffic traffic"
        "navigation daily mobile"
        "navigation social social"
        "navigation members activity"
        "navigation message settings";
}

/* == Navigation Sidebar == */
.navigation {
    grid-area: navigation;
    background-color:#63649d;
}

.nav-list {
    padding-bottom: 2rem;
}

 /* == Header == */
 .header {
    grid-area: header;
    background: #7477bf;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    
}

.stephen-header {
    float: left;
    margin: 0 0 0 1.5rem;
}

.profile-name {
    float: right;
    margin: 0 1.5rem 0 0;
    vertical-align: middle;
    padding: 10px;
}

.bell-icon {
    height: 15px;
    width: 20px;
    padding: 10px;
    float: right;
    margin:;
}

.bell:hover {
    transform: scale(1.1) rotate(5deg);
}

/* == Dashboard == */
.widget {
    grid-area: dashboard;
}

.widget-container-full {
    margin: 0;
}

.main-header {
    grid-area: dashboard;
    float: left;
}

.main-header-search {
    grid-area: dashboard;
    float: right;
    padding: 10px 0px 10px 10px;
    border: none;
    margin: 20px 24px 20px 20px;
    font-size: 17px;
}

.alert {
    grid-area: alert;
    background-color: #7377bf;
    color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: none;
    margin-bottom: ;
}

.alert-text {
    margin-left: 10px;
}

.alert-banner-close {
    float: right;
    margin: 0px 10px 0px 0px;
    justify-items: center;
}

/* == Traffic Grid == */
.traffic {
    grid-area: traffic;
    border: #e7e7e7 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 100%;
}

.traffic-header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#traffic-chart {
    width: 100%;
}

#daily-chart,
#mobile-chart {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.traffic-nav {
    float: right;
    display: flex;
    vertical-align: middle;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

.traffic-nav-link {
    padding-left: 10px;
    padding-right: 10px;
}

/* == Daily/Mobile Grid == */
.daily {
    grid-area: daily;
    border-width: 100%;
}

.daily-header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.mobile {
    grid-area: mobile; 
    border: #e7e7e7 2px solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-width: 100%;
}

.mobile-header {
    margin-left: 1.5rem;
}

/* == Social Grid == */
.social {
    grid-area: social;
    border: #e7e7e7 2px solid;
    border-left: none;
    border-right: none;
    border-width: 100%; 
}

.social-header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.social-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}

.twitter,
.facebook,
.google {
    padding: 0px;
    margin: 0px 25px;
}

.icon-image {
    float: left;
    margin: 0;
}

.social-text {
    float: right;
    font-size: 20px;
    margin: 0;
}

.social-number {
    font-size: 50px;
    float: right;
    margin: 0;
}

/* == Members/Recent Grid == */
.members {
    grid-area: members;
    border: #e7e7e7 2px solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-width: 100%;
}

.members-header {
    margin-left: 1.5rem;
}

.activity {
    border-width: 100%;
}

.profile-image {
    height: 35px;
    border-radius: 50%;
    float: left;
    padding-right: 5px;
}

.member-text {
    font-size: .5rem;
    margin-left: 1.5rem;
}

.date {
    float: right;
    padding-right: 20px;
}

.activity {
    grid-area: activity;
}

.recent-header {
    margin-left: 1.5rem;
}

/* == Message/Setting Grid == */
.message {
    grid-area: message;
    padding-right: 20px;
    margin-right: ;
    border: #e7e7e7 2px solid;
    border-left: none;
    border-right: ;
    border-width: 100%;
}

.message-header {
    margin-left: 1.5rem;
}


.form-area {
    width: 95%;
    height: 75px;
    margin-bottom: 20px;
    margin-left: 1.5rem;
}

.settings {
    grid-area: settings;
    padding-bottom: 1000px;
    border: #e7e7e7 2px solid;
    border-left: none;
    border-right: none;
    border-width: 100%;
}

.settings-header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.strong {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.button-send {
    width: 97%;
    height: 40px;
    margin-bottom: 20px;
    background-color: #7477bf;
    color: white;
    margin-left: 1.5rem;
    border: none;
}

.button {
    width: 150px;
    border-radius: 25%;
    float: right;
    padding-right: 100px;
    margin-bottom: 20px;
    margin-right: 1.5rem;
}

.form-field {
    width: 94%;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 1.5rem;
}

.timezone-field {
    width: 90%;
    height: 40px;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.button-primary,
.button-disabled {
    width: 42%;
    height: 40px;
    margin-bottom: 20px;
    background-color: #7477bf;
    color:  white;
    margin-left: 1.5rem;
    box-shadow: none;
    border: none;
}

.button-disabled {
    background-color: #b2b2b2;
    border: none;
}